<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Katie's Korner</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/styles/loginStyleSheet.css">
  <script src="/static/scripts/modal_functions.js"></script>
  <link rel="stylesheet" href="/static/styles/mapStyleSheet.css"/>
</head>
<body>
  <header id="welcome-header">
    <img id="HeaderIMG" src="/static/KatiesLogo.gif" width=64px height=64px/>
    <h1 id="HeaderTitle" >Katie's Korner &nbsp;</h1>
    
    <h1 id="HeaderSubtitle">Home Made Ice Cream</h1>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding-left: 1rem;">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
      class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link {% block active_home %}{% endblock %}" href="{{url_for('index')}}">Home</a>
          <a class="nav-item nav-link {% block active_about %}{% endblock %}" href="https://www.katieskorner.com/history.html">About Us</a>
          <a class="nav-item nav-link {% block active_pop_flavors %}{% endblock %}" href="https://www.katieskorner.com/MostPopFlv.html">Most Popular Flavors</a>
          <a class="nav-item nav-link {% block active_flavors %}{% endblock %}" href="{{url_for('flavors')}}">All Flavors</a>
          <a class="nav-item nav-link {% block active_history %}{% endblock %}" href="https://www.katieskorner.com/IceCreamHistory.html">Ice Cream History</a>
          <a class="nav-item nav-link {% block active_nutrition %}{% endblock %}" href="https://www.katieskorner.com/Info/NutritionGuide.html">Nutrition</a>
          <a class="nav-item nav-link {% block active_order %}{% endblock %}" href="#">Order Ahead</a>
          <a class="nav-item nav-link {% block active_geo %}{% endblock %}" href="{{url_for('map')}}">Geolocation</a>
          {% if user.is_authenticated %}
          {% if user.user_role == 3 %}
          <a class="nav-item nav-link {% block active_manage %}{% endblock %}" href="{{url_for('manage')}}">Manage</a>
          {% endif %}
          <div class="topnav-right">
            <a id="Logout" class="nav-item nav-link {% block active_logout %}{% endblock %}" href="{{url_for('get_logout')}}">Log out</a>
          </div>
          {% else %}
          <div class="topnav-right">
            <a class="nav-item nav-link {% block active_login %}{% endblock %}" href="{{url_for('login')}}">Log in</a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <main>
  <div class="container">
      {% for message in get_flashed_messages(category_filter=["no-background-success"]) %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      {% for message in get_flashed_messages(category_filter=["no-background-warning"]) %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% if get_flashed_messages(category_filter=["error"]) or get_flashed_messages(category_filter=["success"]) %}
    <div class="bg-dark text-white" id="login-meat">
        {% for message in get_flashed_messages(category_filter=["error"]) %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter=["success"]) %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </div>
  {% endif %}
  {% block main %}{% endblock %}
  </main>
  <footer>
  </footer>
</body>
</html>