<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <link rel="stylesheet" href="./../static/styles/mapStyleSheet.css"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {# <link rel="stylesheet" type="text/css" href="./style.css" /> #}
    <script src="./scripts/index.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=folgawoogaimogawomp&callback=initMap&v=weekly"
      async
    ></script>
  </body>
</html>