{% extends "base.j2" %}
{% block title %}Home{% endblock %}
{% block active_home %}active{% endblock %}}

{% block main%}
    <div id='img-ribbon-home' class='row-xs row-no-gutters'>
        <img src = '/static/boy-with-cone.jpg' id='img-ribbon-1' class='col-xs-3 img-fluid'/>
        <img src = '/static/ice-cream-four-ofem.jpg' id='img-ribbon-2' class='col-xs-3 img-fluid'/>
        <img src = '/static/dog-ice-cream.jpg'  id='img-ribbon-3' class='col-xs-3 img-fluid'/>
        <img src = '/static/ice-cream-large.jpg' id='img-ribbon-4' class='col-xs-3 img-fluid'/>
    </div>

    <div id="button-container">
        <a href="/map/" class="btn btn-primary order-ahead">Order Ahead</a>
    </div>

{% endblock %}