{% extends "base.j2" %}
{% block title %}Login{% endblock %}
{% block active_login %}active{% endblock %}}
{% block main %}
    <div class = "row bg-dark text-white" id="login-meat">
      <div class="col-md-6">

      <form method="POST" id="login-form">

          {{form.hidden_tag()}}

          <p class="display-6">Already a user?</p>
          <div class="email-password">
          {{form.email.label}}
          {{form.email()}}
          <br />
          </div>
          <div class="email-password">
          <br />
          {{form.password.label}}
          {{form.password()}}
          <br />
          </div>
          {{form.rememberMe()}}
          {{form.rememberMe.label}}
          <br />
          {{form.submit()}}
          <br />
      </form>
      </div>

      <div class="col-md-6">
        <p class="display-6">New to the Korner?</p>
        <a href="/register/" class="btn btn-light" id="register"> Register </a>
        <br />
        <a href="/register-employee/" class="btn btn-light" id="register-employee"> Register Employee </a>
      </div>
    </div>
{% endblock %}