{% extends "base.j2" %}
{% block title %}Manage{% endblock %}
{% block active_manage %}active{% endblock %}
{% block main %}
<div class="container">
        <div class="row bg-dark text-white" id="employee">
                <btn class="btn btn-light" id="register-employee"> Register Employee </btn>
        </div>
{% endblock %}