<!-- Modal -->
<div class="modal fade" id="modalRemoveEmployee" tabindex="-1" role="dialog" aria-labelledby="removeEmployee" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="removeEmployee">Remove Employee</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="removeEmployeePrompt"></p>
      </div>
      <div class="modal-footer">
        <form method="DELETE" role="form" novalidate>
          <a href="" class="btn btn-primary" id="btnConfirmRemoveUser">
            Continue
          </a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Decline
          </button>
        </form>
      </div>
    </div>
  </div>
</div>