{% extends "base.j2" %}
{% block title %}Flavors{% endblock %}
{% block active_flavor %}active{% endblock %}
{% block main %}
<div id="FlavorPageBody">
  <div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Flavor</th>
        <th scope="col">Type</th>
        <th scope="col">Sugar Free</th>
        <th scope="col">Average Rating</th>
        <th scope="col">Rate Me</th>
      </tr>
    </thead>
    <tbody>
      {% if flavors %}
        {% for flavor in flavors %}
          <tr class="FlavorRow">
            <td data-toggle="collapse" data-target="#{{flavor.flavor}}" class="clickable flavor_label">{{flavor.flavor}}</td>
            {% if flavor.isSherbet %}
                <td data-toggle="collapse" data-target="#{{flavor.flavor}}" class="clickable">Sherbet</td>
            {% else %}
                <td data-toggle="collapse" data-target="#{{flavor.flavor}}" class="clickable">Ice cream</td>
            {% endif %}
            {% if flavor.isSugarFree %}
                <td data-toggle="collapse" data-target="#{{flavor.flavor}}" class="clickable">Sugar Free</td>
            {% else %}
                <td data-toggle="collapse" data-target="#{{flavor.flavor}}" class="clickable">Contains Sugar</td>
            {% endif %}
            {% if avgRatings %}
              {% if avgRatings.get(flavor.flavor) == "NA" %}
                <td data-toggle="collapse" data-target="#{{flavor.flavor}}" class="clickable">NA</td>
              {% else %}
                <td data-toggle="collapse" data-target="#{{flavor.flavor}}" class="clickable">
                  {% if avgRatings.get(flavor.flavor)-(avgRatings.get(flavor.flavor)|round) != 0 %}
                    {{"%.1f"|format(avgRatings.get(flavor.flavor))}}/5
                  {% else %}
                    {{"%.0f"|format(avgRatings.get(flavor.flavor))}}/5
                  {% endif %}
                </td>
              {% endif %}
            {% endif %}
            <td>
              {% if user.is_authenticated %}
                <button type="button" class="RateMeBtn" name="{{flavor.flavor}}" data-toggle="modal" data-target="#modalRate">Rate Me!</button>
              {% else %}
                <button type="button" disabled>Log-in to rate me!</button>
              {% endif %}
            </td>
          </tr>
          {% if rankings %}
          <tr>
              <td colspan="5">
                  <div id="{{flavor.flavor}}" class="collapse">
                    {% for ranking in rankings %} 
                      {% if ranking.flavor == flavor.flavor %}
                      <div class="CommentBlock">
                        <h6 class="Commenter">{{ranking.user}}</h6>
                        <h6 class="Ranking">
                          {% if ranking.rating-(ranking.rating|round) != 0 %}
                            {{"%.1f"|format(ranking.rating)}}/5
                          {% else %}
                            {{"%.0f"|format(ranking.rating)}}/5
                          {% endif %}
                        </h6>
                        {% if ranking.comment %}
                          <p class="Comment" colspan="5">{{ranking.comment}}</p>
                        {% endif %}
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
              </td>
          </tr>
          {% endif %}
        {% endfor %}
      {% else %}
        <td colspan="5">No flavors currently</td>
      {% endif %}
    </tbody>
  </table>
</div>
{% include "/modal_rate.j2" %}
{% endblock %}
