{% extends "base.j2" %}
{% block title %}Login{% endblock %}
{% block active_login %}active{% endblock %}}
{% block main %}
  <div class = "row bg-dark text-white" id="register-meat">
    <div class="col-md-4">
    </div>
      <div class="col-md-4">
        <form id="formLogin" method="POST" role="form" novalidate>
          <div class="container">
            <div class = "form-row justify-content-center">
              <div class="form-group col">
                {{form.hidden_tag()}}
                <h3>Become a user!</h3>
                <div>
                  {{ form.email.label(class="form-control-label") }}
                  {# Adds "is-invalid" bootstrap styling to field if the field has errors #}
                  {{form.email(class="form-control" + (" is-invalid" if form.email.errors else ""))}}
                  {% if form.email.errors %}
                    {% for error in form.email.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              
                <div>
                  {{ form.password.label(class="form-control-label") }}
                  {{form.password(class="form-control" + (" is-invalid" if form.password.errors else ""))}}
                  {% if form.password.errors %}
                    {% for error in form.password.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>

                <div>
                  {{ form.confirm_password.label(class="form-control-label") }}
                  {{form.confirm_password(class="form-control" + (" is-invalid" if form.confirm_password.errors else ""))}}
                  {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
            <div class="form-row">
              <div class="col-md-4">
                {{ form.submit() }}
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
      </div>
    </div>
{% endblock %}