{% extends "base.j2" %}
{% block title %}Login{% endblock %}
{% block active_login %}active{% endblock %}}
{% block main %}
  <div class = "row bg-dark text-white" id="register-meat">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <form id="formLogin" method="POST" role="form" novalidate>
          <div class="container">
            <div class = "form-row justify-content-center">
              <div class="form-group col">
                {{form.hidden_tag()}}
                <h3>Become a user!</h3>
                <div>
                  {{ form.email.label(class="form-control-label") }}
                  {# Adds "is-invalid" bootstrap styling to field if the field has errors #}
                  {{form.email(class="form-control" + (" is-invalid" if form.email.errors else ""))}}
                  {% if form.email.errors %}
                    {% for error in form.email.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              
                <div>
                  {{ form.password.label(class="form-control-label") }}
                  {{form.password(class="form-control" + (" is-invalid" if form.password.errors else ""))}}
                  {% if form.password.errors %}
                    {% for error in form.password.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding-left: 1rem;">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
      class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav">
          {# <a class="navbar-brand active" href="{{url_for('home_page')}}">Home</a> #}
          <a class="nav-item nav-link " href="{{url_for('index')}}">Home</a>
          <a class="nav-item nav-link" href="https://www.katieskorner.com/history.html">About Us</a>
          <a class="nav-item nav-link" href="https://www.katieskorner.com/MostPopFlv.html">Most Popular Flavors</a>
          <a class="nav-item nav-link" href="https://www.katieskorner.com/Info/Flavors.html">All Flavors</a>
          <a class="nav-item nav-link" href="https://www.katieskorner.com/IceCreamHistory.html">Ice Cream History</a>
          <a class="nav-item nav-link" href="https://www.katieskorner.com/Info/NutritionGuide.html">Nutrition</a>
          <a class="nav-item nav-link" href="{{url_for('order_schedule')}}">Order Ahead</a>
          <div class="topnav-right">
            <a class="nav-item nav-link active" href="{{url_for('login')}}">Log in</a>
                <div>
                  {{ form.confirm_password.label(class="form-control-label") }}
                  {{form.confirm_password(class="form-control" + (" is-invalid" if form.password.errors else ""))}}
                  {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4">
                {{ form.submit() }}
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
      </div>
    </div>
{% endblock %}