.navbar-nav a:hover {
    background-color: rgb(138, 138, 138);
    padding-left: 1rem;
    color: black;
  }

#HeaderIMG {
    display: inline-block;
}

#HeaderTitle {
    display: inline-block;
}

/* 
.active {
    margin-right: 1rem;
} */

header {
    background-color: #FFDFD3;
}

body {
    background-image: url("/static/frontKatie.jpg");
    background-size: cover;
}

footer {
    padding-bottom: 10rem;
    background-image: url("/static/katieHomemade.png");
    background-size: contain;
    margin-top: 40rem;
}
