.navbar-nav a:hover {
    background-color: rgb(138, 138, 138);
    color: black;
  }

footer {
    margin-top:5rem;
    padding-bottom: 10rem;
    background-color:#14176d;
    font-family: "Brush Script MT", cursve;
    color:white;
    padding:2rem;
    text-align: center;
    height: 10rem;
}
.footer-rows {
    text-align: center;
    display:flex;
}

.footer-container {
    text-align: center;
}

body,html {
    height: 100%;
    width:100%;
}

.clickable {
    cursor: pointer;
}

#flavors{
    display: flex;
}

#register {
    margin:2%;
}

#register-employee {
    margin:2%;
}

.email-password{
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
}

#password {
    margin-left: 1%;
    margin-top: 1%
}
#email {
    margin-left: 1%;
    margin-top: 1%
}

#login-meat {
    margin-left:8%;
    margin-right:8%;
    padding: 3%;
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
}

#register-meat {
    margin-left:8%;
    margin-right:8%;
    padding: 3%;
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

/* Header */

#HeaderIMG {
    padding:3%;
    width:6rem;
    height:6rem;
}

#HeaderIMGContainer {
    display: inline-block;
    vertical-align: text-bottom;
}

#HeaderTitle {
    display: inline-block;
    font-family: "Brush Script MT", cursive; 
    color: #ef0e28;
    font-weight: 700; 
    font-size: 500%;
}

#HeaderTextContainer {
    margin-left:0;
    text-align: left;
}

#HeaderSubtitle {
    display: inline-block;
    font-family: "Brush Script MT", cursive;
    color: #14176d;
    font-weight: 700; 
    font-size: 300%;
}

/* Home Img Ribbon */
#img-ribbon-home {
    display:inline-block;
    text-align:center;
    vertical-align: top;
}

.img-ribbon {
    width:24%;
    margin:0%;

}

#center-image-home {
    padding:3rem;
}


#history-left {
    padding-top:3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

#history-right {
    padding-top:3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

#history-container {
    margin:auto;
    padding:none;
    display: flex;
    text-align: center;
}

#history-home {
    margin:none;
    padding:none;
    text-align: center;
}

#homePageLogin {
    margin-top: 2%;
}

.arrow-left {
    float:left;
}

.arrow-right {
    float:right;
}

.login-button {
    margin:3%;
    margin-left:4%;
    display: inline-block;
    padding: 20px 25px;
    font-size: 3rem;
    font-family:"Brush Script MT",cursive;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #14176d;
    border: none;
    border-radius: 15px;
  }
  
  .login-button:hover {background-color: #14176d}
  
  .login-b:active {
    background-color: #14176d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/* Order Ahead Button */

.order-ahead {
    margin:1%;
    display: inline-block;
    padding: 20px 25px;
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ef0e28;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(189, 188, 188);
  }
  
  .order-ahead:hover {background-color: #c0081d}
  
  .order-ahead:active {
    background-color: #ef0e28;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #button-container {
      text-align: center;
  }

#submit {
    padding:5px 15px; 
    background:rgb(243, 243, 243); 
    border:0 none;
    cursor:pointer;
    margin: 2%;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#rememberMe {
    margin-top: 10px;
}

.active {
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    text-align: left;
    background-color: aliceblue;
}

body {
    background-image: url("/static/icecream-background.png");
    background-size: contain;
}

.navbar-custom {
    text-decoration-color: black;
    background-color: #FEC8D8;
}

.messages {
    background-color: #343a40;
}

#logout {
    background-color: none;
}