.navbar-nav a:hover {
    background-color: rgb(138, 138, 138);
    color: black;
  }

#flavors{
    display: flex;
}

#register {
    margin:2%;
}

#register-employee {
    margin:2%;
}

.email-password{
    /* float: right; */
    /* align-items: right; */
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
}

#password {
    margin-left: 1%;
    margin-top: 1%
}
#email {
    margin-left: 1%;
    margin-top: 1%
}

#login-meat {
    margin-left:8%;
    margin-right:8%;
    padding: 3%;
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;

}

#HeaderIMG {
    display: inline-block;
}

#submit {
    padding:5px 15px; 
    background:rgb(243, 243, 243); 
    border:0 none;
    cursor:pointer;
    margin: 2%;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#rememberMe {
    margin-top: 10px;
}

#HeaderTitle {
    display: inline-block;
    font-family: "Brush Script MT", cursive; 
    font-weight: 700; 
    font-size: 500%;
}

.active {
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    text-align: left;
    background-color: #FFDFD3;
}

body {
    text-align: center;
    background-image: url("/static/frontKatie.jpg");
    background-size: cover;
}

.navbar-custom {
    text-decoration-color: black;
    background-color: #FEC8D8;
}

footer {
    padding-bottom: 10rem;
    background-image: url("/static/katieHomemade.png");
    background-size: contain;
    margin-top: 40rem;
}

.messages {
    background-color: #343a40;
}

#logout {
    background-color: none;
}